/* ESTILOS GENERALES */

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -o-box-sizing: inherit;
}

body {
    font-family: sans-serif, Helvetica, Arial;
    background: #000;
    color: #fff;
}

img {
    vertical-align: top;
}

/* ESTILOS GENERALES DEL HEADER */

.header {
    width: 100%;
    display: grid;
    justify-items: center;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header .buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(70px, 70px));
    grid-gap: .5rem;
    padding: 1rem;
    justify-content: space-around;
}

.header .buttons a {
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    padding: 0.2rem 0.2rem;
}

.header .menu-container {
    height: 100px;
    background: gray;
    width: 100%;
    padding: 1rem;
}

.header .menu {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 100px));
    grid-gap: .3rem;
    font-size: 0.6rem;
    font-weight: bold;
    justify-content: center;
}

.header .menu a {
    display: inline-block;
    text-align: center;
    padding: 0.2rem 0.2rem;
    background: #454545;
}


/* ESTILOS DEL HEADER - GROUPS */

.header-grps .menu-container {
    display: grid;
    grid-gap: 1.5rem;
    justify-content: center;
    justify-items: center;
}

.header-grps .menu-container .groups a {
    border-right: 2px solid #454545;
    color: #454545;
    font-weight: bold;
    font-size: .7rem;
    padding-right: .3rem; 
    text-align: center;
}

.header-grps .menu-container .groups a:last-of-type {
    border: none;
}

@media screen and (min-width: 480px){
    .header-grps .menu-container .groups a {
        font-size: .9rem;
    }
}


@media screen and (min-width: 768px){
    .header {
        justify-items: unset;
    }

    .header .buttons {
        display: grid;
        grid-template-columns: repeat(2, minmax(105px, 105px));
        grid-gap: .7rem;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem;
        justify-content: end;
    }
    
    .header .buttons a {
        display: inline-block;
        padding: .2rem 1rem;
        border: 2px solid #fff;
        min-width: 105px;
        text-align: center;
    }

    .header .menu {
        justify-content: start;
        font-size: 1.1rem;
        grid-template-columns: repeat(2, minmax(150px, 150px));
    }

    .header-grps .menu-container {
        justify-content: start;
        justify-items: start;
    }

    .header-grps .menu-container .groups a {
        font-size: 1.1rem;
    }
}


/* ESTILOS GENERALES DEL MAIN */

.main {
    margin: 0 auto;
    display: grid;
    padding: 3rem 3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 6rem;
    justify-items: center;
    position: relative;
    overflow-x: scroll;
    max-width: 1190px;
}

@media screen and (min-width: 1190px){
    .main {
        overflow-x: auto; 
    }
}

.main .line {
    position: absolute;
}

.main .line1 {
    height: 155px;
    top: 63px;
    left: 281px;
}

.main .line2 {
    height: 155px;
    top: 295px;
    left: 281px;
}

.main .line3 {
    top: 138px;
    height: 231px;
    left: 575px;
}

.main .line4 {
    top: 230px;
    left: 877px;
}

.main .round {
    display: grid;
    grid-row-gap: 3rem; 
    font-weight: bold;
}
.main .round .match {
    display: grid;
    grid-row-gap: .5rem;
}

.main .semi-final {
    display: grid;
    align-items: center;
}

.main .semi-final .match {
    grid-row-gap: 1rem;
}

.main .final {
    display: grid;
    align-items: center;
}

.main .final .match {
    grid-row-gap: 1rem;
}

.main .champion {
    display: grid;
    align-items: center;
}

.main .round .match .player {
    max-height: 30px;
}

.main .round .match .player .tabla {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 190px 10px;
    grid-gap: .1rem;
    font-size: .9rem;
}

.main .round .match .player .tabla span {
    font-size: 1rem;
}

.main .round .match .player .tabla .table {
    max-height: 100%;
    border-collapse: collapse;
    background: #171717;
}

.main .round .match .player .tabla .table tbody tr td img {
    min-height: 23px;
    max-height: 23px;
}

.main .round .match .player .tabla .table tbody tr td {
    border: 1px solid #fff;
    padding: .15rem .3rem;
    text-align: center;
}


/* ESTILOS DEL MAIN - GRPS */

.main-grps {
    grid-template-rows: repeat(2, 1fr);
}

.main-grps .line5 {
    top: 62px;
    left: 275px;
}

.main-grps .line6 {
    top: 186px;
    left: 275px;
}

.main-grps .line7 {
    height: 160px;
    top: 70px;
    left: 564px;
}

.main-grps .line8 {
    top: 312px;
    left: 564px;
}

.main-grps .line9 {
    top: 259px;
    left: 884px;
}

.main-grps .grps-final .match {
    align-content: space-around;
    grid-row-gap: 3rem;
}

.main-grps .grps-champion .match {
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.main-grps .grps-champion .match h4 {
    margin: -1.1rem .7rem 0 0;
}

.main-grps .grps-champion .match .player {
    margin: -.5rem 0 0 0;
}

.main-grps .grps-champion .match .player .tabla table{
    margin: 0 auto;
}

.main-grps .grps-round1-2place {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: 2rem;
}

.main-grps .grps-round1-2place .match {
    align-content: space-around;
}

.main-grps .grps-round2-2place {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.main-grps .grps-round2-2place .match .player:last-of-type {
    margin-top: -.5rem;
}

.main-grps .grps-champion-2place {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.main-grps .grps-champion-2place .match {
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.main-grps .grps-champion-2place .match h4 {
    margin: -4.5rem .7rem 0 0;
}

.main-grps .grps-champion-2place .match .player {
    margin: -3.5rem 0 0 0;
}

.main-grps .grps-champion-2place .match .player .tabla table{
    margin: 0 auto;
}